.startbooking {
    width: 100%;
    height: 90%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .starthead {
    font-size: 15px;
    color: #3b3c47c7;
    text-align: center;
  }
  .starttext {
    font-size: 12px;
    text-align: center;
    color: #3b3c4781;
  }
  