.Cpgrid {
  background: transparent;
  width: 9%;
  position: relative;
  float: left;
  margin-left: 5%;
  height: 44%;
  border-radius: 10px;
  display: block;
  overflow: scroll;
}

.Cptile {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.Cptilelink {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cptilelink:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.8);
}

.cptileicon {
  width: 1.5vw;
  min-width: 15px;
}

.GDB {
  background-image: linear-gradient(to bottom, #b99458, #af3429, #4867aa);
  width: 100%;
  height: 31%;
  margin-top: 5%;
  float: left;
}

.GFG {
  background-image: linear-gradient(to right, #32a176, #4cb96b, white);
  width: 100%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
}

.Cprow {
  background: transparent;
  width: 100%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
  border-radius: 10px;
  overflow: hidden;
}

.HR {
  background-image: linear-gradient(to right, #39424e, #32c766);
  height: 100%;
  width: 46%;
  margin: 0;
  float: left;
}

.CC {
  background-image: linear-gradient(to right, #3d2212, #743b17, #4e2911);
  height: 100%;
  width: 46%;
  float: right;
}

.CF {
  background-image: linear-gradient(to left, #ba2024, #1e89ca, #fbd468);
  height: 100%;
  width: 46%;
  margin: 0;
  float: left;
}

.CW {
  background-image: linear-gradient(to right, #bb432c, #222222);
  height: 100%;
  width: 46%;
  float: right;
}
