.Miscgrid {
  background: transparent;
  width: 9%;
  position: relative;
  float: left;
  margin-left: 2%;
  height: 44%;
  border-radius: 10px;
  display: block;
  overflow: scroll;
}

.Misctile {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.Misctilelink {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Misctilelink:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.8);
}

.misctileicon {
  width: 1.5vw;
  min-width: 15px;
}
.keepicon {
  width: 1.2vw;
}

.GM {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8) 50%,
    #c0443a
  );
  width: 46%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
}

.KP {
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8) 50%,
    #f2b106
  );
  width: 46%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
}

.OL {
  background-image: linear-gradient(to bottom right, #40893c, #1c5b26);
  width: 46%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
}

.LC {
  background-image: linear-gradient(to bottom right, #f2f3f5, #f96b13);
  width: 46%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
}
