.sideList {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  padding: 20% 0 0 0;
}

.sideItem {
  font-size: 0.9vw;
  width: 100%;
  text-align: center;
  padding: 7%;
  float: left;
  clear: both;
  border: transparent;
}
.sideItem:hover {
  cursor: pointer;
}

.sideHis {
  color: rgba(101, 152, 248, 0.6);
}
.sideHis:hover {
  border-right: 1px solid rgba(101, 152, 248, 0.6);
}

.sideYt {
  color: rgb(180, 60, 60);
}
.sideYt:hover {
  border-right: 1px solid rgb(180, 60, 60);
}

.sideSo {
  color: #db8138;
}
.sideSo:hover {
  border-right: 1px solid #db8138;
}

.sideG {
  color: #8d8d8d;
}
.sideG:hover {
  border-right: 1px solid #8d8d8d;
}

.sideR {
  color: #ff4500;
}
.sideR:hover {
  border-right: 1px solid #ff4500;
}
