.Wdgrid {
  background: transparent;
  width: 9%;
  position: relative;
  float: left;
  margin-left: 2%;
  height: 44%;
  border-radius: 10px;
  display: block;
  overflow: scroll;
}

.Wdtile {
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.Wdtilelink {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Wdtilelink:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.8);
}

.SB {
  background-image: linear-gradient(to top, #262253, #143c84, #0077b5);
  width: 100%;
  height: 31%;
  margin-top: 5%;
  float: left;
  clear: both;
}

.Wdrow {
  background: transparent;
  width: 100%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
  border-radius: 10px;
  overflow: hidden;
}

.SP {
  background-image: linear-gradient(to right, #16162e, #fa3292);
  height: 100%;
  width: 46%;
  float: left;
}

.CSST {
  background-image: linear-gradient(to right, #fe8605, #e6316d);
  height: 100%;
  width: 46%;
  float: right;
}

.SCH {
  background-image: linear-gradient(to right, #1c1696, #286ee7, #de379f);
  height: 100%;
  width: 46%;
  float: right;
}

.CP {
  background-image: linear-gradient(to right, #4c4f5a, #1f2023);
  width: 100%;
  height: 15%;
  margin-top: 5%;
  float: left;
  clear: both;
}

.W3C {
  background-image: linear-gradient(to right, #3079af, #005a9c);
  height: 100%;
  width: 46%;
  float: left;
}

.W3S {
  background-image: linear-gradient(to top, #3a6200, #8bc303);
  height: 100%;
  width: 46%;
  float: right;
}
