.modalHeader {
  background: #1b1e29;
  border: none;
  color: #c1bdd8;
}
.closebutton {
  background: transparent;
  border: none;
  color: #c1bdd8;
}
.closebutton:hover {
  background: transparent;
  color: #dedbec;
}
.closebutton:focus {
  background: transparent;
  border: none;
  outline: none;
}
.modalBody {
  background: #13151d;
  border: none;
  height: 400px;
}
.modalFooter {
  background: #1b1e29;
  border: none;
}
.savebut {
  background: #499c99;
  border: none;
  font-size: 14px;
  padding: 1% 3%;
  border-radius: 5px;
  transition-duration: 0.5s;
}
.savebut:hover {
  background: #57b8b4;
}
.savebut:focus {
  outline: none;
}
.closebut {
  background: #9c4949;
  border: none;
  font-size: 14px;
  padding: 1% 2%;
  border-radius: 5px;
  transition-duration: 0.5s;
}
.closebut:hover {
  background: #b85757;
}
.closebut:focus {
  outline: none;
}

.modalpage {
  height: 100%;
  float: left;
  position: relative;
}

.modalinputs {
  float: left;
  width: 50%;
  height: 100%;
  background: transparent;
}
.inputs {
  float: left;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
}
.tileimg {
  float: left;
  width: 20%;
  height: 20%;
  margin-left: 5%;
  overflow: hidden;
}
.tileicon {
  width: 100%;
}
.hide {
  display: none;
}
.fileinputlabel {
  float: left;
  clear: left;
  padding: 2% 4%;
  font-size: 12px;
  line-height: 20px;
  color: #2944a8;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 2px solid #2944a8;
  border-radius: 5px;
  margin-left: 2%;
}
.fileinputlabel:hover {
  color: #3455ce;
  border: 2px solid #3455ce;
}

.inputshead {
  float: left;
  width: 10%;
  color: #7c71b9;
}
.tinput {
  float: left;
  width: 70%;
  margin-left: 5%;
  border: none;
  border-bottom: 2px solid #3f3768;
  background: transparent;
  transition-duration: 0.5s;
  color: rgba(255, 255, 255, 0.8);
}
.tinput:focus {
  outline: none;
  border-bottom: 2px solid rgb(173, 46, 99);
}
.addmark {
  float: right;
  clear: left;
  margin-right: 15%;
  margin-top: 10%;
  padding: 2% 5%;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid #4c9b42;
  background: #4c9b42;
  transition-duration: 0.5s;
}
.addmark:hover {
  background: #7dff6d;
}
.addmark:focus {
  outline: none;
}

.clearfields {
  float: right;
  margin-right: 5%;
  margin-top: 10%;
  padding: 2% 4%;
  font-size: 12px;
  border-radius: 5px;
  background: #343a4e;
  border: 2px solid #343a4e;
  transition-duration: 0.5s;
}
.clearfields:hover {
  background: transparent;
  border: 2px solid rgb(173, 46, 99);
  color: rgb(173, 46, 99);
}
.clearfields:focus {
  outline: none;
}

.modallist {
  float: left;
  width: 50%;
  height: 100%;
  background: #0c0e13;
  height: 100%;
  border-radius: 10px;
  display: block;
  position: relative;
}

.listhead {
  float: left;
  width: 100%;
  height: 20%;
  color: #3f3768;
  padding: 2.5% 5%;
  display: block;
}
.deletebut {
  float: right;
  padding: 5% 2%;
  font-size: 12px;
  border-radius: 5px;
  width: 22%;
  border: none;
  background: #343a4e;
  transition-duration: 0.5s;
}
.deletebut:hover {
  background: #2b3041;
}
.deletebut:focus {
  outline: none;
}

.listbody {
  display: block;
  float: left;
  width: 100%;
  height: 80%;
  overflow: scroll;
}
.listitem {
  width: 100%;
  float: left;
  border-top: 1px solid #c1bdd82c;
  padding: 1% 0% 1% 3%;
}
.itemtitle {
  width: 85%;
  float: left;
  padding: 0% 2%;
  overflow: hidden;
  font-size: 14px;
  display: block;
  text-overflow: ellipsis;
}
.itemtitle a {
  color: rgba(255, 255, 255, 0.7);
}
.itemtitle a:hover {
  text-decoration: none;
}
.listicon {
  width: 15px;
  margin-right: 4%;
}
.removeitem {
  width: 10%;
  margin-left: 5%;
  height: 100%;
  float: left;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.7);
}
.removeitem:hover {
  color: rgb(173, 46, 99);
}
.removeitem:focus {
  outline: none;
}
