.ytHistory {
  float: left;
  width: 100%;
  height: 45vh;
  border-top-right-radius: 10px;
  overflow: scroll;
}

.ytHead {
  width: 100%;
  color: rgb(180, 60, 60);
  padding: 2% 2% 2% 10%;
}

.ytHistoryItem {
  border: none;
  position: relative;
  width: 100%;
  padding: 1%;
  float: left;
  display: flex;
  align-items: center;
}

.ytHistoryTitle {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 3%;
  width: 70%;
  float: left;
}

.ythtitle {
  color: rgba(255, 255, 255, 0.8);
  transition-duration: 0.5s;
}
.ythtitle:hover {
  color: rgb(180, 60, 60);
  text-decoration: none;
}

.ythistoryLastTime {
  border: none;
  float: right;
  margin-left: 12%;
  margin-right: 3%;
  width: 15%;
}

.ythistoryDate {
  border: none;
  float: right;
  clear: right;
  color: #414141;
  font-size: 0.8vw;
}

.ythistoryTime {
  border: none;
  float: right;
  clear: right;
  color: #414141;
  font-size: 0.8vw;
}
