.addTodo {
  float: right;
  width: 100%;
  margin-top: 2%;
}

.todoInput {
  background: rgb(5, 5, 5, 0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
  height: 0em;
  padding: 5%;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
}

.todoInput::placeholder {
  color: #4b4b4b;
}

.addTodo input {
  outline: none;
}

.plus {
  background: rgb(5, 5, 5, 0.5);
  border: none;
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 10%;
  height: 35px;
  float: right;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.plus svg {
  width: 70%;
}

.plus:focus {
  outline: none;
}

.plusIcon {
  width: 75%;
}
  