.listContainer {
  border: none;
  float: left;
  display: flex;
  justify-content: left;
  width: 100%;
}

.list {
  width: 88%;
  margin-left: 2%;
  color: rgba(255, 255, 255, 0.4);
  padding: 5px 5px 0 5px;
  word-wrap: break-word;
}

.listContainer .list::after {
  content: "";
  display: block;
  height: 1px;
  width: 85%;
  margin-left: 12.5%;
  margin-top: 10px;
  background: #313131;
}

.removebut {
  background: transparent;
  width: 10%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removebut:focus {
  outline: none;
}

.crossIcon {
  width: 50%;
}
