.listContainer {
    border: none;
    float: left;
    display: flex;
    justify-content: left;
    width: 100%;
  }
  
  .list {
    width: 88%;
    margin-left: 2%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    padding: 5% 5% 3% 5%;
    word-wrap: break-word;
  }
  
  .removebut {
    background: transparent;
    width: 10%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .removebut svg {
    width: 50%;
  }
  
  .removebut:focus {
    outline: none;
  }
  
  .crossIcon {
    width: 40%;
  }
  