.searchbar {
  background-color: transparent;
  border-radius: 30px;
  margin-left: 0%;
  width: 45%;
  margin-left: 27.5%;
  margin-top: 5%;
  float: left;
  clear: left;
}

.search_input {
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(190, 190, 190);
  height: 40px;
  width: 100%;
  border-radius: 30px;
  border: none;
}

.search_input::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.searchbar input {
  outline: none;
}
