.side-list {
  background-image: linear-gradient(to top, black 20%, rgba(10, 10, 10, 0.493));
  /*border-right-style: solid;
  border-color: rgb(37, 37, 37);*/
  list-style-type: none;
  width: 100%;
  min-width: 150px;
  height: 100vh;
  position: relative;
  float: left;
  display: block;
  padding: 0;
}

.side-items {
  text-align: center;
  font-size: 15px;
  padding: 8%;
  clear: both;
  float: left;
  width: 100%;
  border: transparent;
}

#side-nt {
  color: rgba(101, 152, 248, 0.6);
}
#side-nt:hover {
  border-right: 1px solid rgba(101, 152, 248, 0.6);
}

#side-yt {
  color: rgb(180, 60, 60);
}
#side-yt:hover {
  border-right: 1px solid rgb(180, 60, 60);
}

#side-SO {
  color: #db8138;
}
#side-SO:hover {
  border-right: 1px solid #db8138;
}

#side-gh {
  color: #8d8d8d;
}
#side-gh:hover {
  border-right: 1px solid #8d8d8d;
}

#side-rd {
  color: #ff4500;
}
#side-rd:hover {
  border-right: 1px solid #ff4500;
}
