.gituser {
  position: relative;
  float: left;
  width: 100%;
  height: 45vh;
  border-top-right-radius: 10px;
}

.gitinfo {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.logoutbut {
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  border: none;
  width: 5%;
  height: 10%;
  border-radius: 10px;
}
.logoutbut img {
  width: 25px;
}

.logoutbut:focus {
  outline: none;
}

.repos-gists {
  height: 100%;
  width: 100%;
}
