.repos {
  background: transparent;
  border: none;
  width: 50%;
  height: 100%;
  float: left;
}

.reposhead {
  border: none;
  color: #fbd468;
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  margin: auto;
}

.dropbtn {
  background-color: transparent;
  color: #fbd468;
  padding: 1px;
  border: none;
  border-bottom: 1px solid white;
}

.dropdown {
  margin-left: 35%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  width: 200%;
  z-index: 1;
  padding: 2px;
}

.dropdown-content button {
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown-content button:hover {
  color: #fbd468;
}
.dropdown-content button:focus {
  outline: none;
}
.dropdown:hover .dropdown-content {
  display: block;
  border-top: 1px solid #fbd468;
}
.dropdown:hover .dropbtn {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: none;
}
.dropdown .dropbtn:focus {
  outline: none;
}

.reposList {
  border: none;
  width: 90%;
  height: 80%;
  overflow: scroll;
  margin: auto;
}

.repositem {
  position: relative;
  float: left;
  border-left: 1px solid #fbd468;
  width: 100%;
  word-wrap: break-word;
  padding: 3%;
  margin-bottom: 3%;
  color: white;
  font-size: 90%;
}

.reposissues {
  width: 5%;
  float: left;
  margin-left: 2%;
}

.issueimg {
  height: 10px;
}

.reposText {
  color: rgba(255, 255, 255, 0.8);
  float: left;
}
.reposText:hover {
  text-decoration: none;
  color: #fbd468;
}

.reposauthor {
  color: rgba(101, 248, 248, 0.6);
  float: left;
  clear: left;
}
.reposauthor:hover {
  color: rgba(101, 248, 248, 0.6);
}

.reposlanguage {
  color: #4b4b4b;
  float: left;
  clear: left;
}
.reposlanguage:hover {
  cursor: default;
}
