.Clockbox {
  width: 55%;
  margin-left: 2%;
  height: 45%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (min-width: 1415px) {
  div.Clockbox {
    display: none;
  }
}
@media only screen and (max-width: 1268px) {
  div.Clockbox {
    width: 40%;
  }
}
@media only screen and (max-width: 968px) {
  div.Clockbox {
    display: none;
  }
}

.Clock {
  text-align: center;
}

.showtime {
  color: #8d8d8d;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
}

.showdate {
  color: #8d8d8d;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
