* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.livebackground {
  background-image: linear-gradient(to left, #080808, #050505);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 768px) {
  height: 100%;
}

.boxes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.boxes li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  background: rgba(24, 24, 24, 0.26);
  animation-timing-function: linear;
}
.boxes li:nth-child(1) {
  top: 86%;
  left: -80px;
  width: 80px;
  height: 80px;
  animation: animateleft 20s linear infinite;
  animation-delay: 2s;
}
.boxes li:nth-child(2) {
  top: 12%;
  right: -30px;
  width: 30px;
  height: 30px;
  animation: animateright 20s linear infinite;
  animation-duration: 10s;
  animation-delay: 1.5s;
}
.boxes li:nth-child(3) {
  top: 70%;
  left: -100px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  animation: animateleft 20s linear infinite;
  animation-delay: 10s;
}
.boxes li:nth-child(4) {
  top: 70%;
  right: -150px;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  animation: animateright 20s linear infinite;
  animation-delay: 0s;
  animation-duration: 15s;
}
.boxes li:nth-child(5) {
  top: 52%;
  left: -60px;
  width: 60px;
  height: 60px;
  animation: animateleft 20s linear infinite;
  animation-delay: 0s;
}
.boxes li:nth-child(6) {
  top: 30%;
  right: -80px;
  width: 80px;
  height: 80px;
  animation: animateright 20s linear infinite;
  animation-delay: 5s;
  animation-duration: 15s;
}
.boxes li:nth-child(7) {
  top: -20px;
  left: -40px;
  width: 40px;
  height: 40px;
  animation: animateleft 20s linear infinite;
  animation-delay: 3s;
}
@keyframes animateleft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(800px);
    opacity: 0;
  }
}
@keyframes animateright {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-800px);
    opacity: 0;
  }
}

.navmenu {
  position: relative;
  width: 100%;
  float: fixed;
  background: transparent;
  height: 6%;
  padding-bottom: 0.5%;
}
.navlogo {
  margin-left: 10%;
  float: left;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
}
.navlogo img {
  width: 35px;
}
.navmenu ul {
  height: 100%;
  float: right;
  margin-right: 10%;
}
.navmenu ul li {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
  font-size: 12px;
  width: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition-duration: 0.5s;
}
.navmenu ul li:hover {
  background: #0d0f14;
  cursor: pointer;
}
.navicon {
  width: 20px;
}
.navmenu ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navchrome {
  pointer-events: none;
  cursor: default;
  color: rgb(139, 138, 138);
}

.interface {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.interfacey {
  position: relative;
  max-height: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.scrollpage {
  height: 100vh;
}

.head {
  width: 100%;
  height: 94%;
  float: left;
}
.head1 {
  width: 49%;
  height: 75%;
  margin-top: 5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head11 {
  background-image: url(./img/web-header-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 60%;
  float: left;
}
@media only screen and (max-width: 968px) {
  div.head11 {
    height: 75%;
    margin-top: 5%;
    background-image: url(./img/web-header-small-01.png);
  }
}
.headpic {
  background-image: url(./img/Screenshot.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 20px 0px #000000;
  width: 50%;
  height: 75%;
  margin-top: 5%;
  float: right;
}

.heading {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
.abouth {
  height: 30%;
}
.featuresh {
  height: 10%;
}

.About {
  width: 100%;
  height: 50%;
  float: left;
  background: #1e1f26;
}

.Features {
  float: left;
  width: 100%;
  height: 200%;
  background: #1e1f26;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.aboutp {
  height: 60%;
}
.aboutwords {
  width: 60%;
  line-height: 1.6;
  font-size: 18px;
  text-align: center;
}
@media only screen and (max-width: 968px) {
  div.navmenu ul {
    display: none;
  }
  div.aboutwords {
    width: 80%;
    font-size: 15px;
  }
}

.featuresp {
  height: 90%;
}
.featuresAllcomps {
  width: 60%;
  height: 100%;
}
.featurescomp {
  width: 49.5%;
  height: 25%;
  float: left;
}
.featurescomphead {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featurescomphead1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5cb6b3;
}
.featuresicons {
  width: 10%;
  float: left;
}
.featurescompdes {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featurescompdes1 {
  width: 70%;
  height: 70%;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
.featurescompdes1 a {
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  div.featuresAllcomps {
    width: 80%;
  }
}

@media only screen and (max-width: 968px) {
  div.featurescomp {
    width: 100%;
    height: 12.4%;
  }
  div.Features {
    height: 250%;
  }
  div.featuresh {
    height: 7%;
  }
  div.featuresp {
    height: 93%;
  }
  div.featurescompdes1 {
    width: 100%;
    font-size: 15px;
  }
}

.Links {
  width: 100%;
  height: 70%;
  min-height: 530px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkcontainer {
  height: 60%;
  width: 50%;
}
.linkbox {
  float: left;
  height: 100%;
  width: 300px;
}
.gitbox {
  float: right;
}

@media only screen and (max-width: 1200px) {
  div.linkcontainer {
    width: 600px;
  }
}
@media only screen and (max-width: 768px) {
  div.linkcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.linkbox {
    width: 200px;
  }
  div.linkhead {
    font-size: 16px;
  }
  div.linkshort {
    font-size: 16px;
  }
  a.linkbutton {
    width: 60%;
    height: 15%;
    margin-left: 20%;
    font-size: 10px;
  }
  img.icon {
    width: 80px;
    margin-left: 30%;
  }
}
.linkdes {
  height: 70%;
  width: 100%;
  float: left;
}
.linkbutton {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  height: 20%;
  width: 50%;
  float: left;
  margin-left: 25%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-image: linear-gradient(to left, #68d35a, #4c9b42);
  color: black;
}
.linkbutton:hover {
  cursor: pointer;
  background: #7dff6d;
}
.linkbutton:focus {
  outline: none;
}
.chromebut {
  pointer-events: none;
  cursor: default;
  background: #34692d;
}
.icon {
  width: 90px;
  margin-left: 35%;
}
.linkhead {
  height: 30%;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.linkshort {
  text-align: center;
  height: 20%;
  color: rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Themes {
  width: 100%;
  height: 70%;
  min-height: 530px;
  float: left;
}
.themeshead {
  float: left;
  width: 49.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themeshead1 {
  background-image: url(./img/themehead-01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50%;
  height: 50%;
}
.themecomps {
  float: right;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themedes {
  height: 70%;
  width: 100%;
}
.themedes1 {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themedes2 {
  width: 50%;
  height: 80%;
  font-size: 25px;
  color: white;
}
.themeh {
  width: 100%;
  height: 60%;
}
.themeimages {
  width: 100%;
}
.themebutton {
  border: none;
  height: 45%;
  text-decoration: none;
  text-transform: uppercase;
  width: 25%;
  float: right;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-image: linear-gradient(to left, #68d35a, #4c9b42);
  color: black;
}
.themebutton:hover {
  cursor: pointer;
  background: #7dff6d;
}
.themebutton:focus {
  outline: none;
}
@media only screen and (max-width: 1200px) {
  div.themedes2 {
    width: 80%;
  }
}

@media only screen and (max-width: 968px) {
  div.themeshead {
    width: 100%;
    height: 40%;
  }
  div.themeshead1 {
    background-image: url(./img/themeheadsmall-01.png);
    width: 100%;
  }
  div.themecomps {
    float: left;
    width: 100%;
    height: 60%;
  }
  div.themedes {
    height: 100%;
    width: 100%;
  }
  div.themedes1 {
    float: left;
    height: 100%;
    width: 49.5%;
  }
  div.themedes2 {
    float: right;
    height: 50%;
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  div.themedes2 {
    font-size: 18px;
  }
}

.foot {
  float: left;
  width: 100%;
  height: 40%;
  background: #1e1f26;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footblock {
  width: 60%;
  height: 80%;
}
.footpart1 {
  width: 60%;
  height: 100%;
  float: left;
}
.footpart2 {
  width: 30%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerlogo {
  width: 50%;
}
.footmap {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
}
.footmap1 {
  width: 50%;
  padding-left: 4%;
  height: 100%;
}
.footmap1 ul {
  height: 100%;
}
.footmap1 ul li {
  display: block;
  padding: 2%;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
}
.footmap1 ul li a {
  text-decoration: none;
  color: #fff;
}
.installbut {
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 15px;
  background-image: linear-gradient(
    to left,
    rgb(173, 46, 99),
    rgb(206, 71, 127)
  );
  color: white;
}
.installbut:hover {
  cursor: pointer;
  background: rgb(206, 71, 127);
}
.installbut:focus {
  outline: none;
}
.footcontact {
  width: 100%;
  height: 50%;
  color: white;
  padding-left: 5%;
  display: flex;
  align-items: center;
}
.footlinks {
  width: 60%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footlinks a {
  width: 15%;
}
.contacticons {
  width: 100%;
  min-width: 40px;
}

@media only screen and (max-width: 968px) {
  div.footblock {
    width: 100%;
  }
  div.footcontact {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  div.footpart2 {
    display: none;
  }
  div.footpart1 {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  div.footblock {
    width: 80%;
  }
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
